body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: large;
  background-color: #FAF7F5;
  /* background: linear-gradient(45deg, #78c0d5, #40cbb3); */
  /* background-color: #50E3C2;
  background-image: 
      radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%), 
      radial-gradient(at 82% 65%,  hsl(275.58deg 100% 50% / 74%) 0, transparent 55%); */
}

.chatbot-title-heading{
  background: linear-gradient(to right, #F5B0AF 0%, #B5555A 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chatbot-title-sub-heading{
  background: linear-gradient(to right, #e3ad9e 0%, #B5555A 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  background-color: #e3a9a736;
  padding: 20px;
  border-radius: 12px;
  max-width: 90vw;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* backdrop-filter: blur(22px) saturate(169%); */
  /* -webkit-backdrop-filter: blur(22px) saturate(169%); */
  /* background-color: rgba(255, 255, 255, 0.63);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3); */
}


.chat-box {
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
  height: 90vh;
  position: relative;
  border-radius: 10px;
  /* background: linear-gradient(45deg, #78c0d5, #40cbb3); */

  /* background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f745 40px), repeating-linear-gradient(#61bafa00, #61bafa00); */

}

.user-message {
  background-color: #d3e3fd;
  background-color: #B5555A;
  color: f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline-block;
  /* color: #f2f2f2; */
  /* background: linear-gradient(89deg, #2200ff, #8e29ff); */
  border-radius: 12px;
    /* backdrop-filter: blur(22px) saturate(169%); 
  -webkit-backdrop-filter: blur(22px) saturate(169%); */
  /* filter: drop-shadow(5px 5px 10px #000000); */
}

.bot-message {
  background-color: #f0f4f9;
  background-color: #F5DBD2;
  /* color: whitesmoke; */
  /* background-color: #e1edf9; */
  padding: 10px;
  animation-name: fade-in;
  animation-duration: 0.8s;
  border-radius: 15px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.query-submit-button {
  background-color: #cacfd5;
  color: #050505;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  /* background: #f7f0ed; */
  box-shadow:  5px 5px 10px #cfcac7,
               -5px -5px 10px #f7f0ed;
}

.query-submit-button:hover {
  background-color: #b9866c;
  font-size: large;
  font-size: 20px;
  border-radius: 10px;
}

.query-input-txtbox {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  /* border: 1px solid #dfe6ed; */
  border: none;
  width: 100%;
  font-size: large;
  background: #f7f0ed;
  box-shadow:  5px 5px 10px #cfcac7,
               -5px -5px 10px #f7f0ed;
}

.query-input-txtbox:focus-visible{
  outline: none;
}

.user-message-container {
  /* position: fixed; */
  /* bottom: 100px;  */
  margin-top: 2vh;
  width: 80vw;
}

.user-message-input-form{
  display: flex;
  width: 100%;
}

.profile-photo {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 50%; /* Circular profile photo */
  margin-right: 10px; /* Space between photo and message */
}

.message-container {
  display: flex;
  align-items: center;
}

.initial-greet-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* adding threshold-input class as per the theme */
.threshold-input {
  background-color: #f0f4f9;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  width: 40%;
  text-align: center;
  font-size: 14px;
  background: #f7f0ed;
  box-shadow:  5px 5px 10px #cfcac7,
               -5px -5px 10px #f7f0ed;
}

.threshold-input:focus-visible{
  outline: none;
}

/* adding regenerate-button class as per theme */
.regenerate-button {
  background-color: #ef2424; 
  color: #fdeaff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
  width: 50%;
  border-radius: 10px;
  /* background: #f7f0ed; */
  box-shadow:  5px 5px 10px #cfcac7,
               -5px -5px 10px #f7f0ed;
}
.regenerate-button:hover {
  background-color: #bb3333;
}
/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 90vw;
  }

  .chat-box {
    height: 400px;
  }

  .user-message-container {
    /* bottom: 50px; */
    width: 90vw;
  }
}
.sub_greet_container{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.topic-selection {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.topic-button {
  background-color: #cacfd5;
  /* background-color: #d3e3fd; */
  color: #050505;
  padding: 10px 20px;
  /* border: solid rgb(199, 139, 255); */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
  font-weight: bold;
  min-height: 45px;
  /* background: linear-gradient(178deg, #ffffffb8, #acd5ffab); */
}

.topic-button:hover {
  background-color: #ccc3f7;
  background-color: #E19D95;
}

.dynamic-map-container {
  width: 600px;  /* Adjust width as needed */
  height: 400px;  /* Adjust height as needed */
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
  .dynamic-map-container {
    width: 90vw;
    height: 300px;
  }
}

.selected-btn{
  background-color: #E19D95;
}
.selected-btn:hover{
  background-color: #E19D95;
}


.loading-message {
  background-color: #f0f4f9;
  animation-name: gradient-animation-in;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: background-color 0.3s ease;
}

@keyframes gradient-animation-in {
  0% {
    opacity: 1;
    background-color: #d3e3fd; /* Initial color */
  }
  50% {
    opacity: 1;
    background: linear-gradient(to right, #f0f4f9, #d3e3fd); /* Gradient colors */
  }
  100% {
    opacity: 1;
    background-color: #d3e3fd; /* Final color */
  }
}





/* media queries for all the remaining classes that aren't created yet for responsive UI across all the mobile as well as tablet devices */
@media only screen and (max-width: 1000px) {
  .container {
    max-width: 90vw;
    font-size: medium;
  }

  .chat-box {
    height: 590px;
  }
  .profile-photo{
   margin-bottom: 0px !important;
  }
  .user-message-container {
    bottom: 50px;
    width: 90vw;
  }
  .js-plotly-plot {
    width: 100%;
  }
  .geolayer{
    width: 100%;
    height: 70%;
  }
  .dynamic-map-container {
    width: 90vw;
    height: 300px;
  }
  .profile-photo{
    width: 20px;
    height: 20px;
  
  }

  .chatbot-title-heading{
    font-size: 1.1rem;
  }
  .chatbot-title-sub-heading{
    font-size: 1.1rem;
  }
}
/* media queries for the topic buttons such that they are responsive with good UI for the mobile devices */
@media only screen and (max-width: 600px) {
  .topic-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: xx-small;
  }

  .topic-button {
    margin: 10px 0;
    width: 80vw;
    height: 50px;
  }
}
/* media queries for the initial greet container such that it is responsive with good UI for the mobile devices */
@media only screen and (max-width: 600px) {
  .initial-greet-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* media queries for the user message container such that it is responsive with good UI for the mobile devices */
@media only screen and (max-width: 600px) {
  .user-message-container {
    /* position: fixed; */
    bottom: 0px;
    right: 30px;
    width: 90vw;
  }
}
/* media queries for the user message input form such that it is responsive with good UI for the mobile devices */
@media only screen and (max-width: 600px) {
  .user-message-input-form {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
  }
}


/* CUSTOM SCROLLBAR */
/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #f7f0ed;
}

*::-webkit-scrollbar-track:hover {
  background-color: #f7f0ed;
}

*::-webkit-scrollbar-track:active {
  background-color: #f7f0ed;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #b5557adb;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #b5557adb;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #b5557adb;
}